{% extends "base.html" %}
{% load static %} 
{% block header %}
    <title>Booking Slots for {{ day }}</title>
    <!-- <style>
        #show-alert {
            visibility: hidden;
        }

    </style> -->
{% endblock %}

{% block content %}
<section> 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start">
            <div class="service-wrapper" id="services">
                <h3 class="mt-5 ml-3">Choose A Time Service</h3>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start">
            <div class="service-wrapper" id="services">
                <div class="row justify-content-around"> 
                    {% for service in services %}
                        <div class="col-auto service-item"
                            data-name={{service.name}}
                            data-description={{service.description}}
                            data-price={{service.price}}
                            data-slotsnumber="{{service.slots}}"
                            onclick="handleClick(this)"
                        > 
                            <div> 
                                <h4>{{ service.name }}</h4>
                                <p> {{service.description}}<br>
                                    <span style="font-size: larger; font-weight: bold;"> 
                                        £ {{service.price}}
                                    </span>
                                    <br>
                                    <span>{{service.slots}} </span>
                                </p> 
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section> 
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start">
            <div class="service-wrapper" id="services">
                <h3 class="mt-5 ml-3">Choose A Time Slot {{ day }} </h3>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start" id="show-alert">

                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible fade show" 
                             role="alert" style="width: 50%; margin:auto;">
                            <strong>{{message}}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}

        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start">
            <div class="col d-flex justify-content-start content-fit">
                <div>
                    <a href="{{ prev_day_url }}" class="custom-link"><span class="icon-lrg">&#8592;</span>Previous Day</a>
                </div>    
            </div>
            <div class="col d-flex justify-content-center content-fit">
                <div>
                    <a href="{{ next_day_url }}" class="custom-link"><span class="icon-lrg ">&#8594;</span>Next Day</a>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start">
            <div class="wrapper" id="times">
                <div class="slots">
                    {% for slot in slots %}
                        {% if slot in booked_slots %}
                            <div class="slot">
                                <div class="booked">
                                    <strong>{{ slot }}</strong> Booked
                                </div>
                            </div>
                        {% else %}
                            <div class="slot">
                                <div class="available"
                                    onclick="handleSlot(this)"
                                    data-user = "{{user}}"
                                    data-slot= "{{slot}}"
                                    data-date ="{{day}}"
                                >
                                    <strong>{{ slot }}</strong> - Available
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                 <div id="login-required"></div>   

                </div>
            </div>
        </div>
    </div>
</section>

<section  id="confirm-section" data-user="{{ user }}"  data-auth-status="{{ is_authenticated }}" data-login-url="{{ login_url }}">

    <div class="row" id="show-confirm">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex justify-content-start">
            <div id="confirm">
                    <form id="form">
                        {% csrf_token %}
                        <div class="" id="selected-details"></div>
                        <div class="" id="confirm-selected"></div>
                    </form>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/booking.js' %}"></script>


{% endblock %}